.navabar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--primary-shadow-color);
    padding: 1em
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.navBtn {
    background-color: var(--primary-bg-color);
    margin: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--primary-fg-color);
    text-decoration: none;
    border-radius: 0.4em;
}