.navabar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1%;
    box-sizing: border-box;
    background-color: var(--primary-shadow-color);
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.navBtn {
    background-color: var(--primary-fg-color);
    font-family: serif;
    margin: 10px;
}