.searchbar {
    margin-top: 5px;
}

input {
    background-color: var(--primary-bg-color);
    font-family: sans-serif;
    padding: 4px;
    color: var(--primary-fg-color);
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

#searchBtn {
    margin-left: 4px;
}