.searchbar {
    margin-top: 5px;
}

input {
    background-color: var(--primary-bg-color);
    font-family: sans-serif;
    padding: 4px;
    color: var(--primary-fg-color);
    text-decoration: none;
    border-radius: 0.4em;
}

#searchBtn {
    margin-left: 4px;
}

.tag {
    width: max-content;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border-radius: 0.4em;
    padding: 3px;
}