/* Didn't know the names of color placeholders so used these for now */
a:link, a:visited {
    /* uses a button type layout */
    color: var(--primary-fg-color);
    padding: 4px 45px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 4px; 
  }

a:link {
    color: white;
    background-color: black;
}

a:hover {
    box-shadow: 0px 0px 3px var(--primary-shadow-color);
}

/* maybe consider using like a pink/magenta as one of our colors to honor tmobile the sponsor of dubhacks? */
a:active {
    color: blue;
    background-color: yellow;
}

header {
    border-bottom: 1px solid var(--primary-fg-color);
    background-color: var(--primary-bg-color); 

    background-color: var(--primary-shadow-color);
}


@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }
}

.nonNav {
    padding: 1.5em;
    border-radius: 0.4em;
    box-sizing: border-box;
}