
.post-summary {
    border: 2px solid var(--primary-fg-color);
    border-radius: 3px;

    padding-left: 12px;
    padding-right: 12px;

    width: 100%;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    color: white;

}

.post-summary:hover {
    cursor: pointer;
    background-color: var(--primary-shadow-color);
}